.styledInput{
    color: #1C2842;
    border: solid 1px #1C2842;
    font-family: 'Open sans' sans-serif;
    font-size: 14px;
    padding: 10px;
}

.buttonUrl{
    color: #1C2842;
    border: solid 1px #1C2842;
    font-family: 'Open sans' sans-serif;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0px 2px 2px rgb(184, 184, 184);
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.styledInput:focus{
    outline: none;
}